services:
  tinkerme-share:
    image: ghcr.io/tinkermesomething/tinkerme-share # or tinkermesomething/tinkerme-share on Docker Hub
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      - TRUST_PROXY=false # Set to true if a reverse proxy is in front of the container
    volumes:
      - "./data:/opt/app/backend/data"
      - "./data/images:/opt/app/frontend/public/img"
  #      - "./config.yaml:/opt/app/config.yaml" # Add this line, if you want to configure tinkerme-share via config file and not via UI

  # To add ClamAV, to scan your shares for malicious files,
  # Originally from stonith404/pingvin-share - see https://stonith404.github.io/pingvin-share/setup/integrations/#clamav-docker-only
